
<div class="page page-profile">

    <div class="row">
        <div class="col-md-12">
            <!-- Pofile panel -->
            <div class="panel panel-profile">
                <div class="panel-heading bg-primary clearfix">
                    <a href="" class="pull-left profile">
                        <img alt="" src="images/g1.jpg" class="img-circle img80_80">
                    </a>
                    <h3>{{main.name}}</h3>
                    <p>Provider Admin</p>
                </div>
                <!--<ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        <i class="fa fa-envelope-o"></i>
                        Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-warning">2</span>
                        <i class="fa fa-comments-o"></i>
                        Dapibus ac facilisis in
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-info">1</span>
                        <i class="fa fa-heart-o"></i>
                        Morbi leo risus
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-success">3</span>
                        <i class="fa fa-folder-open-o"></i>
                        Vestibulum at eros
                    </li>
                </ul>-->
            </div>
            <!-- end Pofile panel --> 
        </div>
        <div class="col-md-12"> 
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Profile</strong> </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">  
                            <div class="row">                                                
                                <div class="col-lg-3 col-sm-3"> 
                                    <div class="form-group">
                                    <label for="">First Name</label> 
                                    <input type="text" class="form-control" value="Vanita">                              	
                                    </div>
                                </div>
								<div class="col-lg-3 col-sm-3"> 
                                    <div class="form-group">
                                    <label for="">Last Name</label> 
                                    <input type="text" class="form-control" value="Reddy">                              	
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3"> 
                                    <div class="form-group">
                                    <label for="">Email</label> 
                                    <input type="text" class="form-control" value="vanita@yopmail.com">                              	
                                    </div>
                                </div> 
                                <div class="col-lg-3 col-sm-3"> 
                                    <div class="form-group">
                                    <label for="">Mobile</label> 
                                    <input type="text" class="form-control" value="1234567890">                              	
                                    </div>
                                </div> 
                                <div class="col-lg-6 col-sm-6"> 
                                    <div class="form-group">
                                    <label for="">Address line 1</label>     
                                    <textarea class="form-control">Location, city, statue</textarea>                          	
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6"> 
                                    <div class="form-group">
                                    <label for="">Address line 2</label> 
                                    <textarea class="form-control">Location 2, city, statue</textarea>                              	
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3"> 
                                    <div class="form-group">
                                    <label for="">Phone</label> 
                                    <input type="text" class="form-control" value="0712-1234567">                              	
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3"> 
                                    <div class="form-group">
                                    <label for="">City</label> 
                                    <input type="text" class="form-control" value="Banglore">                              	
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3"> 
                                    <div class="form-group">
                                    <label for="">Country</label> 
                                    <select class="form-control">
                                    	<option>India</option>
                                    </select>                              	
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3"> 
                                    <div class="form-group">
                                    <label for="">State</label> 
                                    <select class="form-control">
                                    	<option>Select</option>
                                                <option>Andhra Pradesh</option>
                                                <option>Arunachal Pradesh</option>
                                                <option>Assam</option>
                                                <option>Bihar</option>
                                                <option>Chandigarh</option>
                                                <option>Chhattisgarh</option>
                                                <option>Goa</option>
                                                <option>Gujarat</option>
                                                <option>Haryana</option>
                                                <option>Himachal Pradesh</option>
                                                <option>Jammu and Kashmir</option>
                                                <option>Jharkhand</option>
                                                <option>Karnataka</option>
                                                <option>Kerala</option>
                                                <option>Lakshadweep</option>
                                                <option>Madhya Pradesh</option>
                                                <option>Maharashtra</option>
                                                <option>Manipur</option>
                                                <option>Meghalaya</option>
                                                <option>Mizoram</option>
                                                <option>Nagaland</option>
                                                <option>Odisha</option>
                                                <option>Puducherry</option>
                                                <option>Punjab</option>
                                                <option>Rajasthan</option>
                                                <option>Sikkim</option>
                                                <option>Tamil Nadu</option>
                                                <option>Telangana</option>
                                                <option>Tripura</option>
                                                <option>Uttar Pradesh</option>
                                                <option>Uttarakhand</option>
                                                <option>West Bengal</option>  
                                            </select>                              	
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3"> 
                                    <div class="form-group">
                                    <label for="">Zip Code</label> 
                                    <input type="text" class="form-control" value="1234">                              	
                                    </div>
                                </div>
                                
                            <div class="clearfix"></div>                                                 
                                <div class="col-lg-12 col-sm-12"> 
                                    <div class="form-group"> 
                                    	<a href="#" class="btn btn-lg btn-default">Cancel</a>
                                        <a href="#" class="btn btn-lg btn-primary">Submit</a>                         	
                                    </div>
                                </div>                                                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        

</div>