
<div class="page page-profile">

    <div class="row">
        <div class="col-md-12">
            <!-- Pofile panel -->
            <div class="panel panel-profile">
                <div class="panel-heading bg-primary clearfix">
                    <a href="" class="pull-left profile">
                        <img alt="" src="images/g1.jpg" class="img-circle img80_80">
                    </a>
                    <h3>{{main.name}}</h3>
                    <p>Provider Admin</p>
                </div>
                <!--<ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        <i class="fa fa-envelope-o"></i>
                        Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-warning">2</span>
                        <i class="fa fa-comments-o"></i>
                        Dapibus ac facilisis in
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-info">1</span>
                        <i class="fa fa-heart-o"></i>
                        Morbi leo risus
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-success">3</span>
                        <i class="fa fa-folder-open-o"></i>
                        Vestibulum at eros
                    </li>
                </ul>-->
            </div>
            <!-- end Pofile panel --> 
        </div>
        <div class="col-md-12"> 
        	<p class="text-right"><a href="#/edit_profile" class="btn btn-xs btn-primary">Edit Profile</a></p>
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Profile</strong></div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">  
                            <div class="row">                                                
                                <div class="col-lg-3 col-sm-3"> 
                                    <div class="form-group">
                                    <label for="">First Name</label>   
                                    <p class="form-control-static">Vanita</p>                             	
                                    </div>
                                </div>
								<div class="col-lg-3 col-sm-3"> 
                                    <div class="form-group">
                                    <label for="">Last Name</label>   
                                    <p class="form-control-static">Reddy</p>                            	
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3"> 
                                    <div class="form-group">
                                    <label for="">Email</label>    
                                    <p class="form-control-static">vanita@yopmail.com</p>                           	
                                    </div>
                                </div> 
                                <div class="col-lg-3 col-sm-3"> 
                                    <div class="form-group">
                                    <label for="">Mobile</label>   
                                    <p class="form-control-static">1234567890</p>                             	
                                    </div>
                                </div> 
                                <div class="col-lg-3 col-sm-3"> 
                                    <div class="form-group">
                                    <label for="">Address line 1</label>      
                                    <p class="form-control-static">Location, city, statue</p>                        	
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3"> 
                                    <div class="form-group">
                                    <label for="">Address line 2</label>   
                                    <p class="form-control-static">Location 2, city, state</p>                           	
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3"> 
                                    <div class="form-group">
                                    <label for="">Phone</label>  
                                    <p class="form-control-static">0712-1234567</p>                              	
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3"> 
                                    <div class="form-group">
                                    <label for="">City</label>  
                                    <p class="form-control-static">Banglore</p>                              	
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3"> 
                                    <div class="form-group">
                                    <label for="">Country</label>  
                                    <p class="form-control-static">India</p>                      	
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3"> 
                                    <div class="form-group">
                                    <label for="">State</label> 
                                    <p class="form-control-static">Karnataka</p> 
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3"> 
                                    <div class="form-group">
                                    <label for="">Zip Code</label>  
                                    <p class="form-control-static">1234</p>                             	
                                    </div>
                                </div>                                                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        

</div>