<div class="page page-dashboard" data-ng-controller="DashboardCtrl">
<section class="content-header">
     <!-- <div class="row"> -->
       <div class="col-md-3 col-sm-6 col-xs-12">
         <div class="row">
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-phone"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Phone</span>
              <span class="info-box-number">20 Missed Call</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
         <div class="row">
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-wechat "></i></span>

            <div class="info-box-content">
              <span class="info-box-text">SMS</span>
              <span class="info-box-number">28 Unread SMS</span>

             
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        </div>
        <!-- /.col -->
         <div class="col-md-3 col-sm-6 col-xs-12">
         <div class="row">
          <div class="info-box bg-red">
            <span class="info-box-icon"><i class="fa fa-envelope "></i></span>

            <div class="info-box-content">
              <span class="info-box-text">eMail</span>
              <span class="info-box-number">28 Unread eMails</span>

             
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
         <div class="row">
          <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="fa fa-video-camera"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Video Call</span>
              <span class="info-box-number">28 Missed Video Call</span>

             
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        </div>
        <!-- /.col -->
       
        
        <!-- /.col -->
      <!-- </div> -->
      <div class="dashBoardBox">
      <div class="row">
      <div class="col-lg-4 col-xs-12">
          <!-- small box -->
          <div class="small-box bg-red" style="border-radius:10px;">
            <div class="inner" style="padding-bottom: 0;">
              <h3>Patient Population Summary</h3>

              <!--<p>6000</p>-->
              <p>&nbsp</p>
            </div>
            <div class="icon">
              <i class="fa fa-heartbeat"></i>
            </div>
            <div class="box-footer no-padding">
             <div class="table-responsive ">
              <table class="table">
                <tr style="background-color: #e7e7e7;">
                  <th>Disease</th>
                  <th>Total Population</th>
                  <th>High Risk Population</th>
                </tr>
                <tr>
                  <td>Cancer</td>
                  <td>50000</td>
                  <td>10000</td>
                </tr>
                <tr>
                  <td>Heart Disease</td>
                  <td>50000</td>
                  <td>2000</td>
                </tr>
                <tr>
                  <td>Diabetes</td>
                  <td>5000</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>Asthama</td>
                  <td>5000</td>
                  <td>1000</td>
                </tr>
              </table>
            </div>
             </div>
          </div>
        </div>
     <div class="col-lg-4 col-xs-12">
          <!-- small box -->
          <div class="small-box bg-red" style="border-radius:10px;min-width: 160px;">
            <div class="inner">
              <h3>Remote Monitoring Status</h3>
<h5> &nbsp </h5>
            
            </div>
            <div class="icon">
              <i class="fa fa-stethoscope"></i>
            </div>
            <div class="box-footer no-padding">
              
             
                <!--<li ><a href="#"  style="min-height:165px; background: #fff;"> 
           </a>
           </li>-->
    <div class="table-responsive ">
           <table class="table">
                <tr style="background-color: #e7e7e7;">
                  <th>Disease Name</th>
                  <th>Disease Type</th>
                  <th>Eligible</th>
                  <th>Active</th>
                </tr>
                <tr>
                  <td>Cardiomyopathies</td>
                  <td>Heart</td>
                  <td>Yes</td>
                  <td>No</td>
                </tr>
                <tr>
                  <td>CAD</td>
                  <td>Heart </td>
                  <td>Yes</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <td>Adenosarcoma</td>
                  <td>Lung</td>
                  <td>No</td>
                  <td>No</td>
                </tr>
                <tr>
                  <td>Astrocytoma</td>
                  <td>Brain</td>
                  <td>Yes</td>
                  <td>No</td>
                </tr>
               
              </table>
         
				  </div>  
             
            </div>
          </div>
        </div>
             <div class="col-lg-4 col-xs-12">
          <!-- small box -->
          <div class="small-box bg-red" style="border-radius:10px;">
            <div class="inner">
              <h3>Patient Request</h3>
                <h5>Remote Monitoring 120</h5>
              <p></p>
            </div>
            <div class="icon">
              <i class="fa fa-user-md"></i>
            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked">
                <li><a href="#"> Cancer Patient <span class="pull-right">10</span></a></li>
                <li><a href="#">Diabetic Patient <span class="pull-right">30</span></a></li>
                <li><a href="#">Heart Patient <span class="pull-right">40</span></a></li>
                <li><a href="#">Asthma Patient <span class="pull-right">20</span></a></li>
                 <li><a href="#">Surgical Patient <span class="pull-right">20</span></a></li>
                </li>              
               
               
              </ul>
            </div>
          </div>
        </div>
      </div>
		
		</div>
  <!--add-->
      <div class="row">
      
        <!-- /.col -->
        <div class="col-md-12">
         <div class="box ">
        <div class="box-header with-border">
          <h3 class="box-title">Patient At High Risk</h3>

        
        </div>
        <div class="box-body">
         <form class="form-horizontal">
       <div class="box-body">
                 <div class="table-responsive ">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr style="background-color: #e7e7e7;">
                  <th>Patient Id</th>
                  <th>Patient Name</th>
                  <th>Disease</th>
                  <th>Primary Physician</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1001</td>
                  <td>Mark  </td>
                  <td>Cancer</td>
                  <td>Dr. Smith</td>
                 <td><a href="#">Edit</a> | <a href="#">View</a></td>
                </tr>
               <tr>
                  <td>1002</td>
                  <td> Smith </td>
                  <td>Diabetes</td>
                  <td>Dr. Clark</td>
                  <td><a href="#">Edit</a> | <a href="#">View</a></td>
                </tr>
                <tr>
                  <td>1003</td>
                  <td> Jane </td>
                  <td>Vavular heart disease</td>
                  <td>Dr. Jane</td>
                  <td><a href="#">Edit</a> | <a href="#">View</a></td>
                </tr>
                <tr>
                  <td>1004</td>
                  <td>Laura</td>
                  <td>Chest Pain</td>
                  <td>Dr. Smith</td>
                  <td><a href="#">Edit</a> | <a href="#">View</a></td>
                </tr>
                </tbody>
                
              </table>
		   </div>
           
           
           
           <!--dddddd--> </div>
                
        </div>
        <!-- /.box-body -->
       
        <!-- /.box-footer-->
      </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
     
		  </section></div>
?
