

<div id="nav-wrapper" class="navbar topMenu">
  <div class="navbar-inner">
   
     
      <div class="nav-collapse">
        <ul class="nav">
			<li class="active"><a href="hospitalMngt.html"><i class="fa fa-dashboard"></i> Dashboard</a> </li>
                        
         <li class="dropdown dropdown-large">
          	
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Patient Population Management<b class="caret"></b></a>
           <ul class="dropdown-menu dropdown-menu-large row">
           <li>
			   <div class="col-sm-12">
             <form class="navbar-form navbar-left" role="search">
             <div class="form-group">
              <input class="form-control" id="navbar-search-input" placeholder="Search" type="text">
              <span><button class="fa fa-search btn btn-primary" style="height:32px;"></button></span>
            </div>
				   </form>
			   </div></li>
						<li class="col-sm-5">
						<ul>
							<li class="dropdown-header">Patient</li>
							 <li><a href="hospital_patientDetails.html">Patient Details</a></li>
              <li><a href="hospital_Background_Information.html">Self Assessment</a></li>
              <li><a href="hospital_addPatient.html">Add Patient</a></li>
						</ul>
					</li>
					<li class="col-sm-7">
						<ul>
							<li class="dropdown-header">Remote Patient Management</li>
							 <li><a href="hospital_RP_Collect_Data.html">Collect Data</a></li>
              <li><a href="hospital_RP_Transmit_Data.html">Transmit Data</a></li>
              <li><a href="hospital_RP_Evaluate_Data.html">Evaluate Data</a></li>
              <li><a href="hospital_RP_Notify_Parties.html">Notify 3<sup>rd</sup> Parties</a></li>
              <li><a href="hospital_RP_Intervene.html">Intervene</a></li>
						</ul>
					</li>
         <li class="col-sm-7">
						<ul>
							<li class="dropdown-header">  Risk Management  </li>
							<li><a href="hospital_viewPatientRisk.html">View Patient</a></li>
						</ul>
					</li>
         </ul>
          </li>
           <li class="dropdown">
			   <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-medkit"></i>  Device Management <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
			  
             <form class="navbar-form navbar-left" role="search">
             <div class="form-group searchSmlNav">
              <input class="form-control" id="navbar-search-input" placeholder="Search" type="text">
              <span><button class="fa fa-search btn btn-primary" style="height:32px;"></button></span>
            </div>
				   </form>
			   </li>
              <li><a href="hospital_PatientDevices.html">Device Details</a></li>
              <li><a href="hospital_AddPatientDeivce.html">Add Patient Device</a></li>
              <li><a href="hospital_EditPatientDevice.html">Edit Patient Device</a></li>
              <li><a href="hospital_DeletePatientDevice.html">Delete Patient Device</a></li>
            </ul>
          </li>  
            <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cloud-upload"></i>Patient Relationship Management<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <form class="navbar-form navbar-left" role="search">
                  <div class="form-group searchSmlNav">
                    <input class="form-control" id="navbar-search-input" placeholder="Search" type="text">
                    <span><button class="fa fa-search btn btn-primary" style="height:32px;"></button></span>
                  </div>
                </form>
			       </li>
               <li><a href="hospital_Incoming_Communication.html">Incoming Communication</a></li>
              <li><a href="hospital_chat.html">Chat</a></li>
              <li><a href="hospital_videoChat.html">Video Chat</a></li>
              <li><a href="hospital_ivrConfigurations.html">IVR Configuration</a></li>
               <li><a href="hospital_email.html">Email</a></li>
            </ul>
          </li>
           <!--<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-commenting"></i>  Risk Management

<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="hospital_viewPatientRisk.html">View Patient</a></li>
            </ul>
          </li>-->
            <!--logistics-->
             <li class="dropdown dropdown-large">
          	
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bar-chart"></i>Logistics<b class="caret"></b></a>
           <ul class="dropdown-menu dropdown-menu-large row" style="margin-left : 599px;">
                 <li>
			   <div class="col-sm-12">
             <form class="navbar-form navbar-left" role="search">
             <div class="form-group">
              <input class="form-control" id="navbar-search-input" placeholder="Search" type="text">
              <span><button class="fa fa-search btn btn-primary" style="height:32px;"></button></span>
            </div>
				   </form>
			   </div></li>
					<li class="col-sm-5">
						<ul>
							<li class="dropdown-header">Ambulatory Service Provider</li>
							 <li><a href="hospital_Ambulatory_AddService.html">Add Service</a></li>
              <li><a href="hospital_Ambulatory_EditService.html">Edit Profile</a></li>
              <li><a href="hospital_Ambulatory_DeleteService.html">Delete Profile</a></li>
              <li><a href="hospital_Ambulatory_ViewMessages.html">View Messages</a></li>
              <li><a href="hospital_Ambulatory_ConfirmAction.html">Confirm Completed Action</a></li>
						</ul>
					</li>
					<li class="col-sm-7">
						<ul>
							<li class="dropdown-header">Towing Service Provider</li>
							<li><a href="Towing_Company_Messages.html">View Messages</a></li>
              <li><a href="Towing_Company_Add.html">Add Towing Company</a></li>
              <li><a href="Towing_Companies_List.html">Towing Companies</a></li>
						</ul>
					</li>
          <li class="col-sm-5">
            <ul>
							<li class="dropdown-header">Home Care Attendant</li>
							 <!--<li><a href="#">View Messages</a></li>-->
						</ul>
          </li>
           <li class="col-sm-5">
            <ul>
							<li class="dropdown-header">Nursing Care Attendant</li>
							 <!--<li><a href="#">View Messages</a></li>-->
						</ul>
          </li>
           <li class="col-sm-5">
            <ul>
							<li class="dropdown-header">Personal Care Attendant</li>
							 <!--<li><a href="#">View Messages</a></li>-->
						</ul>
          </li>
           <li class="col-sm-5">
            <ul>
							<li class="dropdown-header">Specialist Physician</li>
							 <!--<li><a href="#">View Messages</a></li>-->
						</ul>
          </li>
           <li class="col-sm-5">
            <ul>
							<li class="dropdown-header">Primary Physician</li>
							 <!--<li><a href="#">View Messages</a></li>-->
						</ul>
          </li>
           <li class="col-sm-5">
            <ul>
							<li class="dropdown-header">Single Point Of Contact</li>
							 <!--<li><a href="#">View Messages</a></li>-->
						</ul>
          </li>
          </ul>
          </li>
          

         <!--Care Coordinator fa fa-user-md-->
        <li class=" dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-md"></i>Care Coordinator<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <form class="navbar-form navbar-left" role="search">
                  <div class="form-group searchSmlNav">
                    <input class="form-control" id="navbar-search-input" placeholder="Search" type="text" style="min-width:125px;">
                    <span><button class="fa fa-search btn btn-primary" style="height:32px;"></button></span>
                  </div>
                </form>
			       </li>
               <li><a href="hospital_CareCoordinatorList.html">Manage Care Coordinator</a></li>
                <li><a href="hospital_CareCoordinator_Patient.html">Patient Coordinator List</a></li>
            </ul>
          </li>
          <!--Care Coordinator End -->
        </ul>  
        
		  <a href="#" class="appIcon" data-toggle="modal" data-target="#modal-default"><i class="fa  fa-th"></i></a>
      </div><!-- /.nav-collapse -->
   
  </div><!-- /navbar-inner -->
</div>

