<!-- Content Wrapper. Contains page content -->
  <div class="page page-dashboard">
    <!-- Content Header (Page header) -->
    <section class="content-header">
     <!--<div class="row">-->
          <div class="col-md-3 col-sm-6 col-xs-12">
         <div class="row">
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-phone"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Phone</span>
              <span class="info-box-number">20 Missed Call</span>

            
                 
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
         <div class="row">
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-wechat "></i></span>

            <div class="info-box-content">
              <span class="info-box-text">SMS</span>
              <span class="info-box-number">28 Unread SMS</span>

             
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        </div>
        <!-- /.col -->
         <div class="col-md-3 col-sm-6 col-xs-12">
         <div class="row">
          <div class="info-box bg-red">
            <span class="info-box-icon"><i class="fa fa-envelope "></i></span>

            <div class="info-box-content">
              <span class="info-box-text">eMail</span>
              <span class="info-box-number">28 Unread eMails</span>

             
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
         <div class="row">
          <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="fa fa-video-camera"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Video Call</span>
              <span class="info-box-number">28 Missed Video Call</span>

             
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        </div>
      <!--</div>-->
      <!--row end-->
      <div class="dashBoardBox">
      <div class="row">
      <div class="col-lg-4 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red" style="border-radius : 10px;">
            <div class="inner">
              <h3>My Health Score</h3>

              <p>60/100</p>
            </div>
            <div class="icon">
              <i class="fa fa-heartbeat"></i>
            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked">
                <li><a href="#">Risk Category <span class="pull-right ">Rising risk</span></a></li>
                <li><a href="#">Healthy Behaviour <span class="pull-right ">10/25 Points</span></a></li>
                <li><a href="#">Body Composition <span class="pull-right ">12/25 Points</span></a></li>
                <li><a href="#">Health Status <span class="pull-right ">12/25 Points</span></a></li>
                <li><a href="#">BP & Cholesterol<span class="pull-right ">12/25 Points</span></a></li>
               
               
              </ul>
            </div>
          </div>
        </div>
     <div class="col-lg-4 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red" style="border-radius : 10px;"> 
            <div class="inner">
              <h3>Health Status</h3>

              <p>60/100</p>
            </div>
            <div class="icon">
              <i class="fa fa-stethoscope"></i>
            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked">
                <li><a href="#">Status <span class="pull-right "></span></a></li>
                <li><a href="#">Last Blood Pressure <span class="pull-right ">140 mm Hg</span></a></li>
                <li><a href="#">Cholesterol HDL <span class="pull-right ">30 mg/dL</span></a></li>
                <li><a href="#">Pulse Rate<span class="pull-right ">60 beats per minute</span></a></li>
                <li><a href="#">pO2 <span class="pull-right ">70 mmHg</span></a></li>
                
               
               
              </ul>
            </div>
          </div>
        </div>
             <div class="col-lg-4 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red" style="border-radius : 10px;">
            <div class="inner">
              <h3>Health Alert</h3>

              <p>60/100</p>
            </div>
            <div class="icon">
              <i class="fa fa-user-md"></i>
            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked">
                <li><a href="#"> Alert</a></li>
                <li><a href="#"> Risk of a heart attack or stroke at high levels...</a></li>
                <li><a href="#"> Body Temperature is above 100.3 °C ...</a></li>
                <li><a href="#"> High risk for developing asthma...</a></li>
                <li><a href="#"> High risk for developing asthma...</a></li>
                </li>              
               
               
              </ul>
            </div>
          </div>
        </div>
      </div>
    
    </div>
    <div class="row">
            <div class="col-lg-12 col-xs-12">
           
           <div class="box box-default ">
            <div class="box-header with-border" >
              <h3 class="box-title">Diagnoses</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <tbody>
                <tr style="background-color:#e7e7e7;">
                  <th width="25" style="width: 10px">#</th>
                  <th width="264">Problem</th>
                  <th width="224">Code System</th>
                  <th width="234" >ICD-CM Code</th> 
                  <th width="254" >Date Diagnosed</th>
                  <th width="140" >Status</th>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>Chronic periodontitis, localized, slight</td>
                  <td>
                    ICD-10
                  </td>
                  <td>K05311</td>
                  <td>Friday, 20 April 1995 </td>
                  <td><span class="badge bg-green">Active</span></td>
                </tr>
                <tr>
                  <td>2.</td>
                  <td>Primary occlusal trauma</td>
                  <td>
                    ICD-10
                  </td>
                  <td>K0881</td>
                  <td>Friday, 20 April 1995 </td>
                  <td><span class="badge bg-green">Active</span></td>
                </tr>
                 <tr>
                  <td>3.</td>
                  <td>Lymphocytic colitis</td>
                  <td>
                    ICD-10
                  </td>
                  <td>K52832</td>
                  <td>Friday, 20 April 1995 </td>
                  <td><span class="badge bg-green">Active</span></td>
                </tr>
                <tr>
                  <td>4.</td>
                  <td>Chronic bladder pain</td>
                  <td>
                    ICD-10
                  </td>
                  <td>R3982</td>
                  <td>Friday, 20 April 1995 </td>
                  <td><span class="badge bg-green">Active</span></td>
                </tr>
              </tbody></table>
            </div>
            <!-- /.box-body -->
        </div></div></div>
     <div class="row">
            <div class="col-lg-12 col-xs-12">
           
           <div class="box box-default ">
            <div class="box-header with-border">
              <h3 class="box-title">Actual Medication</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <tbody><tr style="background-color : #e7e7e7;">
                  <th width="25" style="width: 10px">#</th>
                  <th width="264">Name</th>
                  <th width="224">Prescribed By</th>
                  <th width="234" >Start Date</th> 
                  <th width="254" >Dosage</th>
                  <th width="140" >Alert</th>
                 
                  
                </tr>
                <tr>
                  <td>1.</td>
                  <td>Meglitinides</td>
                  <td>
                    Dr. Richard
                  </td>
                  <td>Friday, 20 April 2017 </td>
                  <td> 10 mL, 2 drops</td>
                  <td>Ending in 2 days</td>
                </tr>
                <tr>
                  <td>2.</td>
                  <td>carvedilol</td>
                  <td>
                    Dr. Smith
                  </td>
                  
                  <td>Friday, 20 April 1995 </td>
                  <td>1 Capsule Daily</td>
                  <td><span class="badge bg-green">Active</span></td>
                </tr>
                 <tr>
                  <td>3.</td>
                  <td>Captopril</td>
                   <td>Dr. Smith</td>
                      <td>Tuesday, 10 April 2016 </td>
                  <td>
                    1 Capsule After dinner
                  </td>
                 
               
                  <td><span class="badge bg-green">Active</span></td>
                </tr>
                <tr>
                  <td>4.</td>
                  <td>eplerenone</td>
                  <td>
                    Dr. klark
                  </td>
                  <td>Friday, 20 April 1995 </td>
                  <td>20ml three times a day</td>
                  
                  <td><span class="badge bg-green">Active</span></td>
                </tr>
              </tbody></table>
            </div>
            <!-- /.box-body -->
        </div></div></div>
      </section>
  </div>
  <!-- /.content-wrapper -->